<% @users.each do |user| %>
  <%= image_tag user.user_information.image, size: "50x50" %></br>
  <ul>
    <li><%= user.id %></li>
    <li><%= user.user_information.user_id %></li>
    <li>メールアドレス：<%= user.email %></li>
    <li>名前：<%= user.user_information.name %></li>
    <li>年齢：<%= user.user_information.age %></li>
    <li>生年月日：<%= user.user_information.birth_date %></li>
    <li>都道府県：<%= user.user_information.prefecture.name %></li>
    <li>趣味：<%= user.user_information.hobby.name %></li>
    <% if user.judge_liked(current_user.id, user.id) %>
      <div class="like_buttons_<%= user.id %>">
        <%= render partial: "likes/destroy",  locals: { user_id: user.id } %>
      </div>
    <% else %>
      <div class="like_buttons_<%= user.id %>">
        <%= render partial: "likes/create",  locals: { user_id: user.id } %>
      </div>
    <% end %>
  </ul>
<% end %>