<% @users.each do |user| %>
  <%= image_tag user.user_information.image, size: "50x50" %></br>
  <ul>
    <li><%= user.id %></li>
    <li><%= user.user_information.user_id %></li>
    <li>メールアドレス：<%= user.email %></li>
    <li>名前：<%= user.user_information.name %></li>
    <li>年齢：<%= user.user_information.age %></li>
    <li>生年月日：<%= user.user_information.birth_date %></li>
    <li>都道府県：<%= user.user_information.prefecture.name %></li>
    <li>趣味：<%= user.user_information.hobby.name %></li>
    <% like = current_user.likes.find_by(user_id: current_user.id, liked_user_id: user.id) %>
    <% if like.present? %>
      <li><%= link_to "♥", user_destroy_likes_path(user_id: current_user.id, liked_user_id: user.id) %></li>
    <% else %>
      <li><%= link_to "♡", user_create_likes_path(user_id: current_user.id, liked_user_id: user.id) %></li>
    <% end %>
  </ul>
<% end %>