<h2>マッチングした相手一覧ページ</h2>
<% @likes.each do |like| %>
  <% matched_like = like.sort_matching_users %>
  <%= image_tag matched_like.user.user_information.image, size: "50x50" %></br>
  <ul>
    <li>メールアドレス：<%= matched_like.user.email %></li>
    <li>名前：<%= link_to "#{ matched_like.user.user_information.name }", "" %></li>
    <li>年齢：<%= matched_like.user.user_information.age %></li>
    <li>生年月日：<%= matched_like.user.user_information.birth_date %></li>
    <li>都道府県：<%= matched_like.user.user_information.prefecture.name %></li>
    <li>趣味：<%= matched_like.user.user_information.hobby.name %></li>
  </ul>
<% end %>
