<%= stylesheet_link_tag "sessions_new", media: "all" %>
<div class="container">
  <h2>ログイン画面</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :メールアドレス： %></br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %></br>

    <%= f.label :パスワード： %></br>
    <%= f.password_field :password, autocomplete: "current-password", class: "input-field" %></br>

    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :ログイン情報保持 %></br>
    <% end %>

    <%= f.submit "ログイン", class: "login-button" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>