<%= stylesheet_link_tag "session_new", media: "all" %>

<div class="container">
  <h2>ログイン画面</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス：, class: "label" %></br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
    </div>

    <div class="field">
      <%= f.label :パスワード：, class: "label" %></br>
      <%= f.password_field :password, autocomplete: "current-password", class: "field" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="check-box-field">
        <%= f.check_box :remember_me %>
        <%= f.label :ログイン情報保持 %>
      </div>
    <% end %>

    <div class="actions-field">
      <%= f.submit "ログイン", class: "login-button" %>
    </div>
  <% end %>

  <div class="links-field">
  <%= render "devise/shared/links" %>
  </div>
</div>
